<aside id="assignments-filters-container" class="filters-container">
  <div class="filters-scroll-container">
    <button id="close-mobile-filters" class="close-modal">✕</button>

    <div class="filters-header">
      <h3>Φίλτρα</h3>
    </div>
    <form class="filters-form">
      <div class="filter-group">
        <label for="sort-method" class="filter-header">Ταξινόμηση</label>
        <div class="radio-group">
          <input
            type="radio"
            id="sort-method-title"
            name="sort-method"
            value="title"
            checked
          />
          <label for="sort-method-title">Τίτλος</label>
        </div>
        <div class="radio-group">
          <input
            type="radio"
            id="sort-method-date"
            name="sort-method"
            value="date"
          />
          <label for="sort-method-date">Ημερομηνία</label>
        </div>
      </div>

      <div class="filter-group">
        <label for="filter-status" class="filter-header">Κατάσταση</label>
        <% if(locals.connectedUserRole === 'professor') { %>
        <div>
          <input type="checkbox" id="pending" name="status" />
          <label for="pending">Υπό-Ανάθεση</label>
        </div>
        <% } %>
        <div>
          <input type="checkbox" id="active" name="status" />
          <label for="active">Ενεργή</label>
        </div>
        <div>
          <input type="checkbox" id="review" name="status" />
          <label for="review">Υπό-Αξιολόγηση</label>
        </div>
        <% if(locals.connectedUserRole === 'professor') { %>
        <div>
          <input type="checkbox" id="completed" name="status" />
          <label for="completed">Ολοκληρωμένη</label>
        </div>
        <div>
          <input type="checkbox" id="cancelled" name="status" />
          <label for="cancelled">Ακυρωμένη</label>
        </div>
        <% } %>
      </div>
      <div class="filter-group">
        <label for="filter-year" class="filter-header">Έτος Ανάθεσης</label>
        <div>
          <input type="checkbox" id="year-2025" name="year" />
          <label for="year-2025">2025</label>
        </div>
        <div>
          <input type="checkbox" id="year-2024" name="year" />
          <label for="year-2024">2024</label>
        </div>
        <div>
          <input type="checkbox" id="year-2023" name="year" />
          <label for="year-2023">2023</label>
        </div>
        <div class="year-range-group">
          <label for="year-range-from">Από</label>
          <input
            type="number"
            id="year-range-from"
            name="year-range-from"
            min="2000"
            max="2100"
            placeholder="2020"
          />
          <label for="year-range-to">Έως</label>
          <input
            type="number"
            id="year-range-to"
            name="year-range-to"
            min="2000"
            max="2100"
            placeholder="2023"
          />
        </div>
      </div>
      <% if(locals.connectedUserRole === 'professor') { %>

      <div class="filter-group">
        <label for="filter-user-role">Ρόλος</label>
        <div>
          <input type="checkbox" id="supervisor" name="role" />
          <label for="supervisor">Επιβλέπων</label>
        </div>
        <div>
          <input type="checkbox" id="member" name="role" />
          <label for="member">Μέλος</label>
        </div>
      </div>
      <% } %> <% if(locals.connectedUserRole === 'secretary') { %>
      <div class="filter-group">
        <label for="filter-pending-changes">Εκκρεμείς Αλλαγές</label>
        <div>
          <input
            type="checkbox"
            id="pending-changes"
            name="hasPendingChanges"
          />
          <label for="pending-changes">Ναι</label>
        </div>
      </div>
      <% } %>
      <div class="filters-button-group">
        <button id="clear-filters-button" type="reset" class="standard-button">
          Επαναφορά
        </button>
      </div>
    </form>
  </div>
</aside>
