<section class="current-page-header">
    <h2><%= pageTitle %></h2>
    <% if(currentPage === 'home') { %>
        <p class="current-page-message">
            Καλώς ήρθατε στην πλατφόρμα upThesis.
        </p>
    <% } %>
</section>
