<!-- the following form code is for new topic creation -->
<div class="topic-content expanded">
  <div class="topic-header-form">
    <label for="topic-input-title">
      <div id="topic-label-title">
        <h3 class="topic-header">Τίτλος</h3>
        <p class="topic-creation-date"><%= new Date().toLocaleDateString('el-GR') %></p>
      </div>
    </label>
    <input
      type="text"
      id="new-topic-input-title"
      class="new-topic-input-class"
      placeholder="Εισάγετε τον τίτλο του θέματος..."
      required
    />
  </div>
  <label for="new-topic-description-form" class="topic-desc-label">
    <h3 class="topic-header">Περιγραφή</h3>
  </label>
  <textarea
    id="new-topic-description-form"
    class="new-topic-description"
    placeholder="Εισάγετε την περιγραφή του θέματος..."
    required
    maxlength="500"
  ></textarea>
  <div class="attachments">
    <label for="new-topic-attachments" class="attachment-label">
      <h3 class="topic-header-label">Αρχείο</h3>
    </label>
    <div class="file-upload-container">
      <input
        class="new-attachment-file"
        type="file"
        id="new-topic-attachments"
        accept=".pdf,.doc,.docx"
      />
    </div>
  </div>
  <div class="assignment">
    <label for="new-topic-assignment" class="assignment-label">
      <h3 class="topic-header-label">Ανάθεση</h3>
    </label>
    <button type="button" id="new-topic-assignment" class="assignment-button">
      Ανάθεση Θέματος
    </button>
  </div>
  <div class="topic-actions">
    <button class="red-button" id="cancel-topic-button">Ακύρωση</button>
    <button class="green-button" id="save-topic-button">Αποθήκευση</button>
  </div>
</div>
