<p class="status-badge <%= topic.status %>">
    <% let statusText = ''; if (topic.status) {
        switch (topic.status.toLowerCase()) {
            case 'completed':
                statusText = 'Ολοκληρωμένη';
                break;
            case 'active':
                statusText =
                        'Ενεργή';
                break;
            case 'pending':
                statusText = 'Υπό-Ανάθεση';
                break;
            case 'review':
                statusText = 'Υπό-Εξέταση';
                break;
            case
            'cancelled':
                statusText = 'Ακυρωμένη';
                break;
            default:
                statusText = topic.status;
        }
    } %>
    <%= statusText %>
</p>