<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %> | UpThesis</title>

    <link rel="stylesheet" href="/styles/announcements.css" />
    <script type="module" src="/scripts/announcements.js" defer></script>
  </head>
  <body>
    <%- include('includes/main-header') %>
    <div class="layout">
      <%- include('includes/main-menu') %>
      <main>
        <%- include('includes/current-page-header', {currentPage: currentPage,
        pageTitle: pageTitle, topicsLength: (typeof totalCount !== 'undefined' ?
        totalCount : undefined)}) %>

        <section id="announcements-section">
          <ul class="announcements-list" id="announcements-list"></ul>
          <div class="modal-container" id="display-announcement-modal">
            <div class="modal">
              <div class="modal-header">
                <div class="modal-title">
                  <p>Παρουσίασή Διπλωματικής</p>
                  <button
                    class="close-modal"
                    id="close-display-announcement-modal"
                    type="button"
                  >
                    &times;
                  </button>
                </div>
              </div>
              <div class="modal-body">
                <div class="content-group">
                  <p class="group-header">Τίτλος</p>
                  <p class="group-value" id="title-value"></p>
                </div>
                <div class="content-group">
                  <p class="group-header">Ημερομηνία</p>
                  <p class="group-value" id="date-value"></p>
                </div>
                <div class="content-group">
                  <p class="group-header">Ώρα</p>
                  <p class="group-value" id="time-value"></p>
                </div>

                <div class="content-group">
                  <p class="group-header">Κείμενο</p>
                  <p class="group-value" id="description-value"></p>
                </div>
                <div class="content-group place1 hidden">
                  <p class="group-header">Αίθουσα 1</p>
                  <p class="group-value" id="place1-value"></p>
                </div>
                <div class="content-group place2 hidden">
                  <p class="group-header">Αίθουσα 2</p>
                  <p class="group-value" id="place2-value"></p>
                </div>
                <div class="content-group">
                  <p class="group-header">Φοιτητής</p>
                  <p class="group-value" id="student-value"></p>
                </div>
                <div class="content-group">
                  <p class="group-header">Μέλη</p>
                  <div class="info-member">
                    <p class="supervisor" id="supervisor-value"></p>
                    <p class="info-badge">Επιβλέπων</p>
                  </div>
                  <div class="info-member">
                    <p class="member-a" id="member-a-value"></p>
                    <p class="info-badge">Μέλος</p>
                  </div>
                  <div class="info-member">
                    <p class="member-b" id="member-b-value"></p>
                    <p class="info-badge">Μέλος</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <nav
          id="pagination"
          class="pagination"
          aria-label="Σελιδοποίηση Ανακοινώσεων"
          data-total-pages="1"
          data-current-page="0"
        >
          <ul class="pagination-list" id="pagination-list"></ul>
        </nav>
      </main>
    </div>
  </body>
</html>
