<div class="assign-student-modal">
    <div class="modal-header">
        <div class="modal-title">
            <p>Ανάθεση Φοιτητή</p>
            <button class="close-modal" type="button">&times;</button>
        </div>
        <input
                type="text"
                class="student-search-bar"
                placeholder="Αναζήτηση φοιτητή..."
        />
    </div>
    <div class="modal-body">
        <ul class="student-list" data-loaded="false">
            <li class="student-item loading">Φόρτωση...</li>
        </ul>
        <p class="no-data student-no-results">Δεν βρέθηκαν αποτελέσματα</p>
    </div>
    <div class="modal-footer">
        <button class="standard-button" type="button">Ανάθεση</button>
    </div>
</div>
