<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            <div class="modal-title">
                <p>Ανάθεση Σε Φοιτητή</p>
                <button class="close-modal" type="button">&times;</button>
            </div>

        </div>
        <div class="modal-body">
            <input
                    type="text"
                    class="student-search-bar"
                    placeholder="Αναζήτηση Σε φοιτητή... (όνομα, επώνυμο, email, ΑΜ)"
                    id="student-search"
            />
            <ul class="student-list">
            </ul>
        </div>
        <div class="modal-footer">
            <button class="standard-button" type="button">Ανάθεση</button>
        </div>
    </div>
</div>