<section id="dashboard-section">
    <ul id="dashboard-stats">
        <li>
            <div class="stat-card">
                <span class="stat-title">Αναθέσεις</span>
                <span class="stat-count">10</span>
            </div>
        </li>
        <li>
            <div class="stat-card">
                <span class="stat-title">Προσκλήσεις</span>
                <span class="stat-count">2</span>
            </div>
        </li>
        <li>
            <div class="stat-card">
                <span class="stat-title">Θέματα</span>
                <span class="stat-count">8</span>
            </div>
        </li>
        <li>
            <div class="stat-card">
                <span class="stat-title">Επιβλέπων</span>
                <span class="stat-count">4</span>
            </div>
        </li>
    </ul>
</section>