<div class="topic-item-expanded hidden new-mode" data-topic-id="new_topic">
    <div class="topic-form-group">
        <label for="topic-input-title-new_topic" id="label-topic-input-title-new_topic">
            <div class="topic-header">
                <div>
                    Τίτλος Θέματος <span class="warning-message"></span>
                </div>
                <p class="simple-badge"><%= formatDate(new Date()) %></p>
            </div>
        </label>
        <input
                type="text"
                id="topic-input-title-new_topic"
                placeholder="Εισάγετε Τίτλο Θέματος"
                data-original-value=""
                required

        />
    </div>

    <div class="topic-form-group">
        <label for="topic-input-desc-new_topic" id="label-topic-input-desc-new_topic">Περιγραφή<span
                    class="warning-message"></span></label>
        <textarea
                id="topic-input-desc-new_topic"
                maxlength="510"
                placeholder="Εισάγετε Περιγραφή Θέματος"
                data-original-value=""
                required
        ></textarea>
    </div>

    <div class="topic-form-group file">
        <label for="topic-file-new_topic">Συννημένο</label>
        <input
                type="file"
                id="topic-file-new_topic"
                accept=".pdf,.doc,.docx,.txt"
                class="file-input"
                data-original-value=""
                placeholder="Επιλέξτε Αρχείο"
        />

    </div>

    <div class="topic-buttons-group">
        <button class="light-button" id="cancel-new-topic-button">Ακύρωση
        </button>
        <button class="accept-button disabled" id="submit-new-topic-button">Αποθήκευση</button>
    </div>
</div>