@import url('../components/modal.css');

.x-icon {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #6c757d;
    cursor: pointer;
    padding: 0;
}

.x-icon:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #52616b;
    transform: scale(1.1);
}

.topic-item-expanded.edit-mode, .topic-item-expanded.new-mode{
    background: #f4f8fb;
}

/*Border message in edit or new mode*/
.topic-item-expanded.edit-mode::before, .topic-item-expanded.new-mode::before {
    position: absolute;
    top: 0;
    left: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
}

.topic-item-expanded.edit-mode::before {
    content: "ΕΠΕΞΕΡΓΑΣΙΑ";
    background: #00b894;
}

.topic-item-expanded.new-mode::before {
    content: "ΝΕΟ";
    background: #1e2022;
}

.topic-file-exists.edit-mode .x-icon {
    display: inline-block;
}

.topic-file-exists.edit-mode .x-icon:hover {
    color: #d63031;
    transform: scale(1.1);
}


.file-input, .update-file-input {
    cursor: pointer;
}

.assignment {
    cursor: pointer;
}


.topic-buttons-group, .edit-topic-buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.edit-topic-buttons-group {
    display: none;
}

.accept-button.hidden {
    display: none;
}

.student-search-bar {
    color: #52616b;
    border: 2px solid #52616b;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(82, 97, 107, 0.1);
    outline: none;
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 2rem auto;
    background-color: #fff;
}


.student-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #52616b #f0f5f9;
}

.student-item {
    padding: 0.75rem 1rem;
    border: 1.5px solid #e0e6ed;
    border-radius: 8px;
    margin-bottom: 0.6rem;
    background: #f8fafb;
    color: #52616b;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.student-item:hover {
    background: #e8eef2;
    border-color: #d5dee5;
    /*transform: translateY(-2px);*/
}

.student-item.selected {
    background: #52616b;
    color: #fff;
    border-color: #52616b;
    box-shadow: 0 4px 12px rgba(82,97,107,0.25);
}

.student-item.selected:hover {
    background: #46535c;
    border-color: #46535c;
}


@media (max-width: 640px) {
    .assign-student-modal {
        width: 95%;
        height: 80vh;
    }
    .modal-body {
        margin: 1rem 1.25rem;
    }
    .modal-footer {
        padding: 1rem 1.25rem;
    }
}