/*import components*/
@import url('shared.css');
@import url('./components/no-data.css');
@import url('./components/buttons.css');
@import url('./components/current_page_header.css');
@import url('./components/filtes.css');
@import url('./components/status-badge.css');


.assignments-content-section {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
}

.assignments-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2rem;
}

.assignments-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.assignments-content {
    margin-top: 2rem;
    width: 100%;
    height: 900px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #52616b #f0f5f9;
    padding: 0 1rem 0 0;
    box-sizing: border-box;
}

.thesis-item {
    font-size: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
    box-sizing: border-box;
}

.thesis-item-collapsed {
    box-shadow: 0 4px 12px rgba(82, 97, 107, 0.15);
    color: #52616b;
    border: 2.5px solid #52616b;
    border-radius: 12px;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8fafb;
}

.thesis-collapsed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid rgba(82, 97, 107, 0.1);
    margin-bottom: 0.8rem;
}

.thesis-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

