<div class="meetings-content">
    <div class="info-section">
        <p class="group-header meetings">Συναντήσεις
            <button class="standard-button" id="new-meeting-button">Νέα Συνάντηση</button>
        </p>
        <div class="new-meeting-container">
            <div class="meeting-form-group">
                <label for="new-meeting-date-time">
                    Ημερομηνία και Ώρα
                </label>
                <input
                        type="datetime-local"
                        id="new-meeting-date-time"
                        required
                        class="input-note"
                />
            </div>

            <div class="new-meeting-buttons-group">
                <button class="light-cancel-button" id="cancel-new-meeting-button">Ακύρωση
                </button>
                <button class="accept-button" id="submit-new-meeting-button">Αποθήκευση</button>
            </div>
        </div>
    </div>

    <ul class="meetings-list" id="meetings-list" data-loaded="false">
        <li class="no-data" id="meetings-empty">Δεν υπάρχουν συναντήσεις.</li>
    </ul>
</div>
